/* add your CSS here */

/* Tiger image size to 300px */
div img {
  width: 300px;
  border: white;
  border-style: solid;
  border-width: 2px;
}

.outer {
  width: 300px;
  border: lightgray;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  box-shadow: 10px 10px 5px lightgray;
}

.inner {
  width: 290px;
  border: lightgray;
  padding: 5px;
  border-style: solid;
  border-width: 2px;
}

.int-fact {
  font-style: italic;
}

span {
  font-weight: bold;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
