/* add your CSS here */

/* Tiger image size to 300px */
div img {
  width: 300px;
}

.outer {
  width: 300px;
  border: lightgray;
  padding: 30px;
  border-style: solid;
  border-width: 2px;
}

.inner {
  width: 300px;
}
